<%= form_with(model: bowingtechnique) do |form| %>
  <% if bowingtechnique.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(bowingtechnique.errors.count, "error") %> prohibited this bowingtechnique from being saved:</h2>

      <ul>
        <% bowingtechnique.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
